.root {
  @apply sticky top-0 bg-black z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary transition ease-in-out duration-75 cursor-pointer;
}

.link:hover {
  @apply text-primary-2;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;

  

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }

  
}


