.root {
  @apply sticky top-0 bg-black z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer lg:text-lg;
}

.link:hover {
  @apply text-primary-2;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;
  height: 46px;
  border-color: #000;
  padding-top: 6px;
  background: #fcfcfc;

  

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }

  
}


