:root {
  --primary: rgba(81, 90, 114, 1);
  --primary-2: rgba(252, 252, 252, 1);
  --primary-3: rgba(252, 252, 252, .7);
  --secondary: rgba(105, 91, 211, 1);
  --secondary-2: rgba(25, 25, 25, 1);
  --selection: var(--secondary);

  --text-base: var(--secondary-2);
  --text-primary: var(--primary-2);
  --text-primary-2: var(--secondary);
  --text-secondary: var(--primary-3);
  --text-secondary-2: var(--primary);
  --text-purple: rgba(105, 91, 211, 1);

  --hover: rgba(0, 0, 0, 0075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: var(--primary);
  --green: var(--primary-2);
  --red: var(--secondary);
  --pink: var(--secondary-2);
  --purple: var(--primary);
  --blue: var(--primary-2);
  --violet: var(--secondary);
  --violet-light: var(--secondary-2);
  --black: rgba(0, 0, 0, 1);
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: "futura_light", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  --title-font: "futura_bold", 'Helvetica Neue', 'Helvetica', sans-serif, arial;
  --subTitle-font: "futura_light", 'Helvetica Neue', 'Helvetica', sans-serif, arial;
  --copy-font: "futura_light", 'Helvetica Neue', 'Helvetica', sans-serif, arial;
  --title-fs: 6rem;
  --subTitle-fs: 3rem;
  --copy-fs: 1.5rem;
  --title-trk: 0;
  --subTitle-trk: .075em;
  --copy-trk: .025em;
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accents-0: #212529;
  --accents-1: #343a40;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #e9ecef;
  --accents-8: #f1f3f5;
  --accents-9: #f8f9fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "futura_bold";
  src: url("/fonts/futura/futura_bold.otf");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "futura_light";
  src: url("/fonts/futura/futura_light.otf");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "futura_med";
  src: url("/fonts/futura/futura_med.otf");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "futura_light", sans-serif, arial !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--primary);
  font-weight: normal;
  font-size: 1rem;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Custom Typography */
.title {
  font-family: var(--title-font);
  font-size: var(--title-fs);
  letter-spacing: var(--title-trk);
  text-transform: uppercase;
}

.subTitle {
  font-family: var(--subTitle-font);
  font-size: var(--subTitle-fs);
  text-transform: uppercase;
  letter-spacing: var(--subTitle-trk);
}

.copy {
  font-family: var(--copy-font);
  font-size: var(--copy-fs);
  letter-spacing: var(--copy-trk);
}

.text-purple {color:rgba(105, 91, 211, 1);}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.center-max-500 {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.center-max-600 {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.wave-bg{
  background: #000 url("../public/Waves.svg") no-repeat center center fixed;
  background-size: contain;
}

.featured-hero {max-width: auto !important;}

.Limelight {
  background: #000 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/limelight-feature.png?t=1617830601&_ga=2.252513609.1746355319.1617630931-248863279.1616771570) right center no-repeat;
  background-size: cover;
  width: 100%;
}

.Skylight {
  background: #000 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/spotlight-feature.png?t=1617829952&_ga=2.146145524.1746355319.1617630931-248863279.1616771570) right center no-repeat;
  background-size: cover;
  width: 100%;
}

.u24 {
  background: #000 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/u24-feature.png?t=1617830645&_ga=2.146145524.1746355319.1617630931-248863279.1616771570) right top no-repeat;
  background-size: cover;
  width: 100%;  
}

.Skylight_360 {
  background: #fff url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/360-mic.gif?t=1618006150&_ga=2.84930137.1300180764.1618006098-2081447066.1617906337) center center no-repeat fixed;
  background-size: contain;
}

.Limelight_360 {
  background: #fff url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/360-mic.gif?t=1618006150&_ga=2.84930137.1300180764.1618006098-2081447066.1617906337) center center no-repeat fixed;
  background-size: contain;
}

.U24_360 {
  background: #fff url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/360-mic.gif?t=1618006150&_ga=2.84930137.1300180764.1618006098-2081447066.1617906337) center center no-repeat fixed;
  background-size: contain;
}

/* .keen-slider__slide div {width: 100%;} */


.container-slim {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-wrap {
  border: solid 1px var(--primary-2);
  padding: 1em;
  border-radius: 1rem;
  max-width: 450px;
  background: var(--black);
  z-index: 1;

}
.pointer-wrap {
  width: 100%;
  position: absolute;
}

.line {    
  height: 1px;
  background-color: var(--primary);
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--primary);
  position: absolute;
  top: -10px;
  border: solid 2px var(--primary-2);
}

.indicator-right .pointer-wrap {
  right: -100px;
}

.indicator-left .pointer-wrap {
  left: -100px;
}

.indicator-right .dot {
  right: 0;
}

.indicator-left .dot {
  left: 0;
}

.middle .pointer-wrap {
  top: 50%;
}

.top .pointer-wrap {
  top: 50px;
}

.bottom .pointer-wrap {
  bottom: 100px;
}

.indicatorShow {opacity: 1;transition: all linear .3s;}

.gradient {
  background: linear-gradient(
    180deg
    , rgba(255,255,255,0) 0%, rgba(0,0,0,1) 75%);
        float: left;
        width: 100%;
        padding: 10em;
}

.stickyHeader {
  background: linear-gradient(to top, #000000 50%, #ffffff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    top: 21px;
}

.skeleton {
  background-color: rgba(240, 240, 240, 1);
  background-image: linear-gradient(
    90deg,
    rgba(240, 240, 240, 1),
    rgba(240, 240, 240, 1),
    rgba(255, 255, 255, 1),
    rgba(240, 240, 240, 1),
    rgba(240, 240, 240, 1)
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeleton 500ms ease-in-out infinite;

  @keyframes skeleton {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
}
.cookies_bar button {
color: var(--text-primary);
padding: .5em;
font-family: var(--copy-font);
font-size: 20px;
}

.cookies_bar button:hover, button.toCart:hover span {color: var(--text-purple) !important;}

@media (min-width: 768px) {
  .Skylight, .u24, .Limelight {width: 50%;}
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

