:root {
  --primary: rgba(81, 90, 114, 1);
  --primary-2: rgba(252, 252, 252, 1);
  --secondary: rgba(105, 91, 211, 1);
  --secondary-2: rgba(25, 25, 25, 1);
  --selection: var(--secondary);

  --text-base: var(--secondary-2);
  --text-primary: var(--primary-2);
  --text-secondary: var(--secondary);
  --text-secondary-2: var(--primary);

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: var(--primary);
  --green: var(--primary-2);
  --red: var(--secondary);
  --pink: var(--secondary-2);
  --purple: var(--primary);
  --blue: var(--primary-2);
  --violet: var(--secondary);
  --violet-light: var(--secondary-2);
  --black: rgba(0, 0, 0, 1);
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: "Neutra", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}

[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accents-0: #212529;
  --accents-1: #343a40;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #e9ecef;
  --accents-8: #f1f3f5;
  --accents-9: #f8f9fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Ideoma-Liner";
  src: url("/fonts/ideoma-liner/ideoma_LINER.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neutra";
  src: url("/fonts/neutra/neutra.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Neutra", sans-serif, arial !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-base);
  font-weight: 100;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.center-max-500 {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.wave-bg{
  background: #000 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/waves.png?t=1617032208) no-repeat center center fixed;
  background-size: cover;
}

.featured-hero {max-width: auto imp !important;}

.Limelight {
  background: #695bd3 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/limelight-feature.png?t=1617830601&_ga=2.252513609.1746355319.1617630931-248863279.1616771570) right center no-repeat;
  background-size: cover;
  width: 100%;
}

.Spotlight {
  background: #695bd3 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/spotlight-feature.png?t=1617829952&_ga=2.146145524.1746355319.1617630931-248863279.1616771570) right center no-repeat;
  background-size: cover;
  width: 100%;
}

.u24 {
  background: #695bd3 url(https://cdn11.bigcommerce.com/s-ismvg5snnx/product_images/uploaded_images/u24-feature.png?t=1617830645&_ga=2.146145524.1746355319.1617630931-248863279.1616771570) right top no-repeat;
  background-size: cover;
  width: 100%;  
}

.keen-slider__slide div {width: 100%;}

.fancy {font-family: "Ideoma-Liner", sans-serif, arial;}
.container-slim {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 768px) {
  .Spotlight, .u24, .Limelight {width: 52.9%;}
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

